#title-link {
  text-decoration: none !important;
  
  > #title {
    color: black;
    margin: calc(10vh + 50px) auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
  }
  
  > #subtitle {
    color: black;
    margin: 0 auto 8vw auto;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 200;
  }
}

#footer {

  > h3 {
    width: fit-content;
    width: -moz-fit-content;
    margin: 10px auto;
    font-size: 0.8rem;
    font-weight: 200;
  }
}