.desktop {

  @media (max-width: 991px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media (max-width: 991px) {
    display: initial;
  }
}

#title-link {
  text-decoration: none !important;
  
  > #title {
    color: black;
    margin: 10vh auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
  }
  
  > #subtitle {
    color: black;
    margin: 0 auto 10vh auto;
    width: fit-content;
    width: -moz-fit-content;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 200;
  }
}

#footer {

  > h3 {
    width: fit-content;
    width: -moz-fit-content;
    margin: 10px auto;
    font-size: 0.8rem;
    font-weight: 200;
  }
}