#auth-frame-menu {

  #auth-frame-menu__user {

    > h6 {
      font-size: 0.6rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: right;
      
      > a {
        color: black !important;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        &#auth-frame-menu__user-btn--sign-out {
          opacity: 0.7;
        }
      }
    }
  }
}