# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Firebase cache
.firebase/

# Firebase config
# Compiled & built
public/modules
public/modules/styles
public/styles
functions/server/app/build

# Dependency directories
node_modules/
