.tag-manager {

  p {

    span {
      font-size: initial;
      font-weight: 300;
      letter-spacing: 2px;
      height: 36px;
      padding: 8px 12px;
      margin: 2px;

      b {
        cursor: pointer;
      }
    }
  }
}