#auth-frame-menu #auth-frame-menu__user > h6 {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right; }
  #auth-frame-menu #auth-frame-menu__user > h6 > a {
    color: black !important;
    cursor: pointer; }
    #auth-frame-menu #auth-frame-menu__user > h6 > a:hover {
      text-decoration: underline; }
    #auth-frame-menu #auth-frame-menu__user > h6 > a#auth-frame-menu__user-btn--sign-out {
      opacity: 0.7; }

#login-form #login-form__info {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin-top: 40px;
  text-align: center; }

#login-form #login-form__menu {
  margin-top: 12px; }

.tag-manager p span {
  font-size: initial;
  font-weight: 300;
  letter-spacing: 2px;
  height: 36px;
  padding: 8px 12px;
  margin: 2px; }
  .tag-manager p span b {
    cursor: pointer; }

#contributor #contribute-menu {
  text-align: center;
  margin-top: 40px; }
  #contributor #contribute-menu .card > .card-body > .card-title {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 12px;
    margin-bottom: 24px; }

#contributor #contributor__top-menu {
  margin-bottom: 40px; }

#contributor #contributor__bot-menu {
  margin-top: 40px; }

#contributor #contributor__tool h1 {
  text-align: center;
  letter-spacing: 8px;
  font-weight: 300;
  margin-bottom: 40px; }

#contributor #contributor__tool .alert {
  margin-top: 6px; }
  #contributor #contributor__tool .alert a {
    text-decoration: underline;
    cursor: pointer; }

#contributor #contributor__tool #contributor__bot-menu {
  margin-top: 40px; }
