#vertical-left-menu {

  > .vertical-left-menu__tool {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.7;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: initial;
    }
  }
}