#extracts {

  > .card {
    border-radius: 0;

    > .card-body {

      p {
        font-weight: 200;

        > strong {
          font-weight: 600;
        }
      }

      > ul {
        padding-top: 15px;
        padding-left: 25px; 
      }
    }
  }
}
 
#extracts {

  @media (min-width: 576px) and (max-width: 1100px) {
    column-count: 2;
  }
}