#extracts {

  > .card {
    border-radius: 0;

    > .card-title {
      padding: 40px 40px 4px 40px;
    }

    > .card-subtitle {
      padding: 0 40px;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: 200;
    }

    > .card-body {

      p {
        font-weight: 200;

        > strong {
          font-weight: 600;
        }
      }

      > ul {
        padding-top: 15px;
        padding-left: 25px; 
      }
    }
  }
}
 
#extracts {

  @media (min-width: 576px) and (max-width: 1100px) {
    column-count: 2;
  }
}