#rank-bar {
  text-align: center;

  > #rank-hierarchy {    

    > .rank-item {
      padding-bottom: 15px;
      padding-top: 15px;

      &.current-rank {
        margin-top: 26px;
        color: white;
        background: black;
        margin-top: 0;

        > h3 {
          margin-top: 26px;
          color: white;
        }

        > h6 {
          color: white;
          opacity: 0.78;
        }
      }

      > h4 {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 1rem;
      }

      > h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-bottom: 24px;

        > a {
          color: black;
        }
      }

      > h6 {
        font-size: 0.8rem;
        text-transform: uppercase;
        cursor: pointer;
        display: none;

        &.reveal {
          display: block;
        }
      }
    }
  }

  > #rank-suggestions {
    
    > div {
      display: none;

      &.reveal {
        display: block;
      }

      > h5 {
        color: white;
        text-transform: uppercase;        
        font-size: 1.2rem;        
        margin-top: 16px;
        background: black;
        margin-bottom: 25px;
        padding: 12px;
      }

      > .row {
        
        > a {
          color: black;
          text-transform: uppercase;
        }
      }
    }
  }
}