#rank-bar {
  @import './plant/suggestions-group.scss';

  text-align: center;

  > #rank-hierarchy {
    margin-bottom: 12px; 

    > .rank-item {
      padding-bottom: 15px;
      padding-top: 15px;

      &.current-rank {
        margin-top: 26px;
        color: white;
        background: black;
        margin-top: 0;

        > h3 {
          margin-top: 26px;
          color: white;
        }

        > h6 {
          color: white;
          opacity: 0.78;
        }
      }

      > h4 {
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 1rem;
      }

      > h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-bottom: 24px;

        > a {
          color: black;
        }
      }

      > h6 {
        font-size: 0.8rem;
        text-transform: uppercase;
        cursor: pointer;
        display: none;

        &.reveal {
          display: block;
        }
      }
    }
  }
}