@import '../../components/Login/Login.scss';

#contributor {

  #contributor__tool {

    > .contributor__title {
      min-height: 70px;
      padding-top: 70px;
      padding-bottom: 40px;
    }
  }

  .contributor__title {
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }

  @import '../components/contributor/VerticalLeftMenu/VerticalLeftMenu.scss';

  .container {

    > .row {
      margin: 10px initial;
  
      &#load {
        margin-bottom: 25px;
      }
  
      &#correct {
        height: 30vh;
        min-height: 200px;
      }
  
      &#render {
        margin-top: 40px;
  
        > div {
          @import '../../styles/extract.scss';
        }
      }
  
      &#form {
        align-items: center;
  
        > h3 {
          margin-bottom: 0;
          margin-left: 40px;
        }
      }

      button.btn.btn-primary {
        background: #EEE;
        border-radius: 0;
        color: black;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      label {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-top: 12px;
      }

      input:not([type="file"]),
      select,
      button {
        border-radius: 0;
        margin: 2px;
      }

      .search-plant {

        > select {
          margin-top: 8px;
        }
      }
    }
  }
}