#app-bar {
  display: flex;
  position: relative;
  height: 240px;
  flex-direction: column-reverse; }
  #app-bar > #logo {
    position: absolute;
    margin-left: calc(50% - 80px);
    margin-right: calc(50% - 80px);
    padding-bottom: 50px;
    transition-property: top, height, width, margin-left, margin-right;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    top: 40px;
    height: 160px;
    width: 160px; }
    #app-bar > #logo.open {
      width: 100vw;
      background: #EA2027;
      height: 100vh;
      z-index: 420;
      margin-left: initial;
      margin-right: initial;
      top: 0; }
    #app-bar > #logo:not(.open) {
      margin-top: -52px; }
    #app-bar > #logo > .close {
      right: 0;
      position: absolute;
      background: none;
      opacity: 1; }
      #app-bar > #logo > .close > svg {
        fill: white; }
    #app-bar > #logo > h1 {
      background: #EA2027;
      width: fit-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      color: white;
      height: 160px;
      width: 160px;
      padding-top: 70px;
      line-height: 2.5rem; }
    #app-bar > #logo > #search-entry {
      margin-top: 80px;
      display: flex;
      justify-content: center; }
      #app-bar > #logo > #search-entry > input.form-control {
        max-width: calc(50vh - 100px);
        border-radius: 0;
        border: 0;
        border-bottom: white 1px solid;
        background: none;
        color: white; }
        #app-bar > #logo > #search-entry > input.form-control:focus {
          box-shadow: none; }
        #app-bar > #logo > #search-entry > input.form-control::placeholder {
          color: white; }
      #app-bar > #logo > #search-entry > .input-group-append {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        #app-bar > #logo > #search-entry > .input-group-append > svg {
          fill: white; }
  #app-bar > #menu {
    justify-content: center;
    width: 100vw; }
    #app-bar > #menu > button {
      background: none;
      color: #EA2027;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 700;
      padding-left: 32px; }
